
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/workouts/{{id}}"></a>

    </h2>
    <p id="workout-title">
      Title:{{title}}
    </p>
  </div>
  <div class="col-md-7">
    <p id="blog">
      Workout: {{workout}}
      <br>
      created_at: {{format_date created_at}}
      <br>
   
    </p>
  </div>
</div>
<div>
