<head>
    <title>Your Page Title</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<!-- Loop over each object in the workouts array -->
{{#each workouts as |workout|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <a href="/workouts/{{workout.id}}">{{workout.title}}</a>
      </h2>
      <p>
        Workout:
        {{workout.workout}}
      </p>
    </div>
    <div class="col-md-7">
      <p>
        {{format_date workout.created_at}}
      </p>
    </div>
  </div>
{{/each}}