<div id="workout-template" type="text/x-handlebars-template">
  <h1><strong><a
        href="https://www.youtube.com/watch?v=W7mN-i0J7M0"
        target="_blank"
      >BMI under 18.5</a></strong></h1>

  <div class="row">

    <div class="col-auto" id="workout-container">
    </div>

  </div>
</div>

<script src="./js/underweight.js"></script>