<div class="col-md-6">
  <h2>Health Statistics</h2>

  <form class="form stats">

    <div class="form-group">
      <label for="height">height (in meters):</label>
      <br />
      <input class="height" type="text" id="height" />
    </div>
    <div class="form-group">
      <label for="weight">weight (in kilograms):</label>
      <br />
      <input class="weight" type="text" id="weight" />
    </div>
    <div id="result">
    </div>
    <br />
    <div class="form-group">
      <button class="btn btn-primary BMI-calculator" type="submit">
        BMI Calculator
      </button>
    </div>
  </form>
</div>

<script src="./js/users.js"></script>